[2022-06-08 12:45] schoffelen commented on #2040
Hi Francois,

I tried to undo the balancing on my end, but the latest FT-code fails on this data object. It complains about something related to the data's units, which I think could be a safety check that has been built into the code at some point in time after you adopted my suggestion for the unbalancing.

This being said, reverting the balancing by hand, I can indeed confirm that the original

[2022-06-08 13:29] ftadel commented on #2040
Thanks for the tests and the explanations.
I'll leave it like this until someone else complains.
I added the links to this discussion in the code, so that we can resume the discussion easily.

[2022-06-08 13:29] #2040 closed

[2022-06-10 11:21] #2044 closed

[2022-06-11 02:48] jdien07 opened #2047 "ft_read_event.m fails when reading epoched .fif file where event codes are character strings with different lengths"
**Describe the bug**
At line 1714 the code:
events_code = str2num(cell2mat(events_id(:, 2)));
fails when reading an epoched .fif file where the event codes are character strings if the event codes are different lengths due to cell2mat requiring them to be the same length:

Error using cat
Dimensions of arrays being concatenated are not consistent.
Error in cell2mat (line 83)
            m{n} = cat

[2022-06-12 06:57] #2026 closed

[2022-06-22 10:16] dustinf1989 opened #2054 "ft_spike_maketrials() no longer works as expected"
**Describe the bug**
The tutorial found at https://www.fieldtriptoolbox.org/tutorial/spike/ no longer works

**To Reproduce**
Steps to reproduce the behavior:
Enter the code until you reach the section 'Adding trigger event information to spike structure' (Reproduced below)

[code]
This issues multiple warnings:

The following warning is given twice, presumably once for each unit:

**Expected beha

[2022-06-22 10:31] robertoostenveld commented on #2054
what makes you think that the warnings (which are informative, but might be too detailed for you) cause the computations not to work any more?

[2022-06-22 10:33] robertoostenveld commented on #2054
I must say that the second warning is confusing and not needed, as the code should not try to determine the order of the dimensions in the `hdr` field. That is the header of the original data, it is not `channels x frequencies` (chan_freq) or so.

[2022-06-22 10:43] dustinf1989 opened #2055 "Plotting ISI histogram no longer works in Spike train analysis tutorial"
**Describe the bug**
The tutorial to generate an ISI histogram from an example t file no longer works: https://www.fieldtriptoolbox.org/tutorial/spike/

**To Reproduce**
From tutorial: We also read in an additional dataset consisting of an M-clust .t file, that can be found [here](https://download.fieldtriptoolbox.org/tutorial/spike/tt6_7.t)

[code]
The call `spike2Trial = ft_spike_maketrials(cfg,

[2022-06-22 10:48] dustinf1989 commented on #2054
Thank you very much for such a quick response, and sorry for not being completely clear.  After running the above code, we are told to run

[code]
However, it produces
[code]
So the trial structure created is no longer correct (assuming the numbers in the tutorial are correct).

[2022-06-22 11:03] dustinf1989 commented on #2054
Thanks, so it seems line 183 should be changed to include `hdr `then.

`    fn = setdiff(fn, {'label', 'cfg', 'hdr', 'dimord', 'time', 'trial', 'trialtime'});`

[2022-06-22 11:52] robertoostenveld commented on #2054
I have confirmed the problem, and traced it to `trialfun_stimon` where the samples, values and timestamp vectors are created. The samples field is empty now and then, which causes the samples vector to be shorter than the other two. So they don't align.

I will update the  `trialfun_stimon` in the documentation and on the download server.

[2022-06-22 11:55] robertoostenveld commented on #2054
The problem might be due to previous (not recent) changes to `ft_read_event` or to the plexus reading code, that caused the missing values to be represented as `[]`, whereas previously it might have been `nan` (as I am using now).

[2022-06-22 11:59] robertoostenveld commented on #2054
The `hdr` warning is solved with commit https://github.com/fieldtrip/fieldtrip/commit/29e833ccdded7c90ee2860c9033711b2b244f7cd

thanks!

[2022-06-22 11:59] #2054 closed

[2022-06-22 12:21] #2055 closed

[2022-06-22 12:23] robertoostenveld commented on #2055
there is now a new test script based on the current tutorial. It runs through (i.e. gives no error), but note that it does not check whether the output values and figures make sense.

@dustinf1989 thanks for reporting, please continue reporting if you encounter problems. For small issues that you can resolve yourself you might also want to send a pull request directly, see https://www.fieldtriptoo

[2022-06-22 13:00] dustinf1989 opened #2056 "Joint PSTH figure tutorial output is incorrect"
**Describe the bug**
At the end of the spike tutorial, joint PSTHs are created but the axes are wrong due to NaNs.

**To Reproduce**
Go to: https://www.fieldtriptoolbox.org/tutorial/spike/#the-joint-peri-stimulus-time-histogram

Produce figures using this code
[code]

**Expected behavior**
The PSTHs should range from -1 to 3 seconds but they end up ranging from -1 to 1 so theta modulation isn't se

[2022-06-22 14:06] robertoostenveld commented on #2056
could you give it a try in trying to figure out a solution?

[2022-06-22 14:07] robertoostenveld commented on #2035
this has been resolved with #2043 and #2053

[2022-06-22 15:13] dustinf1989 opened #2057 "Spike and LFP Tutorial no longer working properly"
**Describe the bug**
The [Preprocessing and analysis of spike and local field potential data](https://www.fieldtriptoolbox.org/tutorial/spikefield/) tutorial doesn't work properly. I implemented a small fix based on the spike analysis tutorial, but some figures and outputs are different than the tutorial page.

**To Reproduce**
The function should be changed to this (maybe also more changes are re

[2022-06-22 15:14] dustinf1989 commented on #2056
Yeah, I'm giving it a go but so far unsuccessful.

[2022-06-24 10:52] schoffelen commented on #2016
AEC -> amplitude envelope correlation

powcorr_ortho -> correlation of power after orthogonalisation

Power is amplitude-squared, so if the amplitude timecourses are wrangled as to make them orthogonal on a observation-by-observation basis, then the only difference between the two is that AEC is computed from an unsquared quantity, and powcorr is not. Which one is better? no Clue.

[2022-06-24 10:59] schoffelen commented on #2016
Input data should always be complex valued data that contains both amplitude and phase information, irrespective of whether it is derived from source level or sensor level data.

The Hilbert transform is a way to get the frequency domain representation of a band-limited signal (i.e. after applying a bandpass filter to a time series). This yields a complex valued signal that represents the amplitud

[2022-06-29 11:50] NirOfir opened #2061 "'all' not default in ft_freqanalysis under mtmconvol"
Hi,

Tiny issue: Although the help of ft_freqanalysis() says 'all' is the default for cfg.toi when cfg.method = 'mtmconvol', it is actually required by the code:
https://github.com/fieldtrip/fieldtrip/blob/8e4f5fe1b2786a9cd3d832e498fa30dc6bf188b4/ft_freqanalysis.m#L317

Should I submit a PR to fix the help section or the code to treat 'all' as the default?

Thanks!

[2022-06-29 12:21] AljenU opened #2062 "Do not use 'input' as a variable name"
Matlab has a builtin function called input, to ask for user input. Variable names should not be the same as the name of a matlab (builtin) function. The variable will shadow the function, making it impossible to call the function. And, it can lead to confusion as to what the code is doing / makes it harder to interpret the code.

[2022-06-29 12:51] robertoostenveld commented on #2062
can you be more specific where `input` is used as input variable?

[2022-06-29 12:51] robertoostenveld commented on #2062
I do agree that it is better not to use `input` as variable name.

[2022-06-29 12:57] robertoostenveld commented on #2061
Good catch.

I am not sure what should be done by the code when the user (or the default) specifies `all`. The code could take the original time axis of the input data , but that would result in a time resolution that is very high (time steps of one sample, which often means 1 ms). I think that time steps of 50 ms or so are more realistic, and usually would result in a 50x smaller data representat

[2022-06-29 14:25] schoffelen commented on #2062
as long as the variable is only called 'input' in the scope of the function, why should this be a problem, as long as the matlab function is not called within the respective function?

[2022-06-29 14:49] schoffelen commented on #2061
I tend to agree with @robertoostenveld, i.e. let the user explicitly take a decision about the cfg.toi specification. I suggest therefore to amend the help section of the function, rather than removing 'toi' from ft_checkconfig.

[2022-06-29 15:27] AljenU commented on #1851
For now,  https://github.com/apjanke/fieldtrip-parallel-support is useful for the other goals in this project. As for keeping the tutorials up to date, and make sure that they work correctly, I would suggest using Matlab Live functions. Those can be exported to html, which should make it easy to add them to the website. Whereas the Live Function files can live as part of the codebase, and have tes

[2022-06-29 22:26] dustinf1989 opened #2063 "Why not just work with discontinuous NeuraLynx data in (micro)seconds without trying to convert to sample indicies?"
**Is your feature request related to a problem? Please describe.**
There is a problem with converting discontinuous Neuralynx data from its native microseconds to sample indices, and a rather [complex solution described on this page](https://www.fieldtriptoolbox.org/faq/discontinuous_neuralynx/).  In all NeuraLynx data, the timestamps are synchronized between event (nev), continuous (ncs), and spi

[2022-06-30 07:00] robertoostenveld commented on #2063
Hi @dustinf1989, you are free to do so, but the FieldTrip ft_read_data and ft_preprocessing functions are data format independent and expect continuous data with the sample sampling rate in each channel. See https://www.fieldtriptoolbox.org/development/module/fileio/. I agree that is inconvenient for data represented for example as ncs/ntt, but it is convenient for most of the data types that we c

[2022-06-30 07:17] NirOfir commented on #2061
Thanks, that makes a lot of sense. I made a PR for this issue: #2064.

One more question: Now that the Hilbert method is documented, should I remove the bit from the undocumented local options?

[2022-06-30 08:21] #2061 closed

[2022-06-30 08:31] robertoostenveld opened #2065 "the formatting of the help documentation is not consistent"
which causes some errors on the [configuration index](https://www.fieldtriptoolbox.org/configuration) page as identified in https://github.com/fieldtrip/fieldtrip/pull/2064#issuecomment-1170910983.

This would be a good first issue for someone new to work on.

[2022-06-30 11:26] dustinf1989 commented on #2063
Hi @robertoostenveld , thanks, I know I can edit the functions myself and I have done so to create two new functions, `ft_appendspike_sec()` and `ft_trialfun_general_sec()`. These so far work with my specific case, but the pieces of code skipped by if-else statements are unchanged, so they are still not generalized completely.
[ft_appendspike_sec.txt](https://github.com/fieldtrip/fieldtrip/files/9

[2022-06-30 11:27] dustinf1989 commented on #2063
I didn't want to close it in the first place...

[2022-06-30 11:27] dustinf1989 commented on #2063
How can I reopen this issue?

[2022-06-30 13:01] robertoostenveld commented on #2063
FieldTrip is primarily a toolbox for MEG, EEG and (human) iEEG analysis. The spike representation is an add-on that is not used by many people (which is also why it is in `contrib/spike`, not in `fieldtrip` proper).

You are looking at it from the perspective from spikes, but I primarily look at it from the perspective of continuously sampled data such as MEG, EEG and iEEG. LFPs are still quite si

[2022-06-30 15:01] JojoVh opened #2067 "Examples on how to read and process BIDS data with fieldtrip for the website"
Dear Fieldtrip developers,

I really appreciate that Fieldtrip supports BIDS.
I would like to automatically read / process / analyze a dataset in BIDS format, but I find little examples of which features the Fieldtrip Toolbox has to support that.

For instance, in the "Getting Started with BIDS" menu, it only gives examples on how to write BIDS with data2bids function.
https://www.fieldtriptoolbox

[2022-06-30 15:06] schoffelen commented on #2067
Feel free to extend the section: https://www.fieldtriptoolbox.org/getting_started/bids/#reading-data-from-a-bids-dataset

[2022-06-30 16:11] JonathanVHoecke commented on #2067
Thank you for your quick reply.
I am happy to help to extend that section, but where can I find which features Fieldtrip has to read BIDS data?
Is there any "BIDS2data" function or "import BIDSpath" or "read_raw_BIDS" function "list_channel_tsv" "select_BIDS_files" you could suggest?

The section you showed me is referring to datatypes, but these are to my understanding independent of whether they

[2022-07-01 07:18] #2062 closed

[2022-07-01 07:19] robertoostenveld commented on #2062
while going over `besa2fieldtrip` I have also fixed some minor bugs and revived the `test_besa2fieldtrip` script

[2022-07-01 08:09] robertoostenveld commented on #2067
Hi Jonathan,

The documentation on reading and processing data that is organized in BIDS is indeed still too sparse, which is also due to it still being in development. We are (from time to time) making improvements to low level reading functions, but those do not really change the overall structure to adopt for implementing your pipelines with a complete analysis script that reads (and writes) da

[2022-07-01 08:10] robertoostenveld commented on #2067
Let me first give pointers to available documentation.  There is the [Getting started with BIDS](http://fieldtriptoolbox.org/getting_started/bids), but there is also the [Creating a clean analysis script](https://www.fieldtriptoolbox.org/tutorial/scripting) introductory tutorial. There are also the [madrid2019](https://www.fieldtriptoolbox.org/tag/madrid2019/) and [paris2019](https://www.fieldtrip

[2022-07-01 08:21] robertoostenveld commented on #2067
Since the analysis script is in the hands  of the user, FieldTrip has little control over how you loop over subjects, conditions, etc. But (nearly) all individual files in BIDS raw can be read directly in FieldTrip, as such processing BIDS converted data is not different from processing that data in some idiosyncratic organization.

But relevant to know is that that [ft_read_header](https://github

[2022-07-01 08:25] robertoostenveld commented on #2067
Oh, and I should add that [ft_trialfun_bids.m](https://github.com/fieldtrip/fieldtrip/blob/master/trialfun/ft_trialfun_bids.m) makes use of some (also undocumented) functionality that you can use a [table](https://www.mathworks.com/help/matlab/tables.html) instead of the 3-column `trl` matrix. That allows to mix different variable types (not only numbers ) and to better specify what the additional

[2022-07-01 08:28] robertoostenveld commented on #2067
... we could even consider organizing an online hackathon (via zoom) to work on improved documentation for procedures and best practices together. For this it might be good to gather some more people to work on this (e.g. through the mailing list), as that would increase the diversity and result in a broader view on these challenges.

[2022-07-01 08:40] schoffelen commented on #2067
Some existing documentation can be harvested from https://www.fieldtriptoolbox.org/workshop/paris2019/handson_raw2erp/ and the other code and tutorials that were created for that workshop

[2022-07-01 09:57] JonathanVHoecke commented on #2067
Dear Robert,

Thank you so much for your detailed reply and extensive resources.
I very much appreciate the huge amount of work and effort you and the Fieldtrip team have done in implementing BIDS.
I respect very much that there are more things in the pipeline and still under development.

I went over the resources, and I see that there are multiple places in which group analysis, high level proce

[2022-07-01 10:33] robertoostenveld commented on #2067
Thanks, that helps to zoom in. Have you looked at [bids-matlab](https://github.com/bids-standard/bids-matlab/)? That was originally forked from `spm_BIDS` and allows "querying" a BIDS formatted dataset. Since BIDS data handling in MATLAB is a general challenge, I think that a general solution might be better than a toolbox-specific one.

Having said that, FieldTrip also includes some private funct

[2022-07-01 10:43] robertoostenveld commented on #2067
Oh, and note that in BIDS the `participant.tsv` and `scans.tsv` are both optional. The `participants.tsv` is commonly specified, but I have seen many datasets that do not include `scans.tsv`.  I would expect some smart skeleton code like above to work with these nested for-loops unconditional on exceptions such as the `participants.tsv` missing.

[2022-07-01 12:11] robertoostenveld commented on #1853
Most test cases in `fieldtrip/test` are on purpose designed to be small memory and take little time. To evaluate how more realistic scenario's evaluate, they should be "blown up" to process larger amounts of data, or should be executed many times.

Could you make a report that shows what the speedups are for some specific test cases? Perhaps as a google sheet, with one column that links to the spe

[2022-07-05 08:15] NirOfir opened #2070 "Missing files in specest/private for Hilbert transfoms"
Hi, I was trying to use the Hilbert transform on data through ft_freqanalysis(), and noticed that two files that are used by ft_preproc_bandpassfilter() which are found in preproc/private are missing from specest/private, causing errors. The files are 'kaiserbeta.m' and 'isalmostequal.m'. Copying them over to specest/private solved that. Should I open a PR?

By the way, I thought that private func

[2022-07-05 08:36] robertoostenveld commented on #2070
MATLAB is not particularly good at dealing with dependencies, or dependencies of dependencies, etc. This [FAQ](https://www.fieldtriptoolbox.org/faq/why_are_so_many_of_the_interesting_functions_in_the_private_directories/) explains why we use private directories.

The problem you identified is a consequence of our attempts to keep the modules separate and independent of each other, see https://www.

[2022-07-05 09:01] NirOfir commented on #2070
Thanks for the explanation!

I'll work on a PR.

[2022-07-05 09:23] #2070 closed

[2022-07-05 10:22] NirOfir opened #2072 "ft_selectdata() restricts latency based on trials excluded by cfg.trials"
**Describe the bug**
Not sure if a bug or a feature :) When trying to select a certain time window only within certain trials, ft_selectdata() restricts the TOI based on all trials in the data set, including those that are irrelevant. This is because time selection (line 284) happens before rpt selection (line 296). And a small detail, ft_selectdata() misses the check for "trial" and "channels" in

[2022-07-06 12:38] Delphine1984 opened #2074 "EEG_Data_Trial"
**visualising EEG Spectrogram**
I use fieldtrop fo EEG spectrogram.
I am a novice and I found some scripts
I'm stuck because I don't understand what EEG_Data_Trial in  TFRwavelet = ft_freqanalysis(cfg, EEG_Data_Trial)

Script:
cfg= []
cfg.dataset    = '210509R-AEX_0008.edf';
cfg.continuous = 'yes';
cfg.channel    = 'all';
cfg.output       = 'pow'; %return power spectra
cfg.baseline = 'yes'  %(ajou

[2022-07-06 16:00] andrew-sheriff9 opened #2075 "Nanmean issue with Matlab 2022a"
Hello,

Matlab no longer uses nanmean and suggests using mean([],'omitnan') instead. This caused an error after downloading the latest fieldtrip version 20220630 when trying to use a bandpassfilter.

Thank you,
Andrew

[2022-07-06 16:02] schoffelen commented on #2075
you're welcome

[2022-07-06 16:02] robertoostenveld commented on #2075
Which MATLAB version are you using? In general we try and support MATLAB versions up to 5 years ago (see https://www.fieldtriptoolbox.org/development/guideline/code/#ensure-that-it-runs-on-older-matlab-versions).

Can you copy the output of the error here?

[2022-07-06 16:04] robertoostenveld commented on #2075
oh sorry, 2022a is in the title. I missed that

[2022-07-06 16:06] robertoostenveld commented on #2075
I have 2022a, and cannot reproduce the error.

[code]

works without errors or warning.

[2022-07-06 16:08] andrew-sheriff9 commented on #2075
here is the error message

![Screen Shot 2022-07-06 at 11 08 13 AM](https://user-images.githubusercontent.com/108822246/177595374-5472581d-e4eb-46fd-9970-3be925993b02.png)

[2022-07-06 16:11] robertoostenveld commented on #2075
nope, that still works here

[code]

Ah, it might be the latter detail. Which nanmean are you using?

[2022-07-06 16:15] robertoostenveld commented on #2075
if I do this

[code]
it still works, and

[code]

So I still cannot reproduce the error. More details are needed.

[2022-07-06 16:39] andrew-sheriff9 commented on #2075
such a prompt reply just to be snarky

[2022-07-07 15:32] howdobrain opened #2076 "bug in subfunction sphsplint"
**Describe the bug**
There is a bug in recent versions of ft_scalpcurrentdensity. Specifically, the subfunction sphsplint results in the same data in every EEG channel.

**To Reproduce**
Run ft_scalpcurrentdensity with cfg.method = 'spline'.

**Expected behavior**
This function should apply a laplacian spatial filter to EEG channels. Instead, it outputs the same data to every channel.

**Environme

[2022-07-07 15:59] schoffelen commented on #2076
OK thanks!

[2022-07-07 19:16] schoffelen commented on #2076
can you please paste in here what your data object looks like? As far as I know, a spline interpolation requires the electrode positions in 3D (in something like data.elec.chanpos), a .lay template is a 2D projection for visualization and does not provide realistic information about the electrode geometry. I don't have a data structure handy, so I repeat my question to send us a small snippet of d

[2022-07-11 06:52] #1870 closed

[2022-07-11 07:50] sarangnemo commented on #1870
Thanks for this @schoffelen! Sorry we've been silent over here, @jordannicolasalves is defending his thesis on Wednesday. :-) Your PR looks similar to what he had (privately) written, so it looks like it should work in our real pipelines too, especially if the test script works. I'll try it out in August.
AFAIK, the conductivity file format hasn't changed; the surface labels simply need to match w

[2022-07-13 10:34] AljenU opened #2079 "What is correct dimension of cumtapcnt in ft_freqanalysis for method wavelet?"
The current code is ambiguous as to what the dimensions should be. The case for wavelet should be added in the prepare step for clarity.

The comparison with cumtapcnt for method mtmconvol suggests a size nfoi for the second dimension. However, the current implementation results in a size X for the second dimension for method wavelet, where X is whatever the size of ntaper is.

Around line 781, th

[2022-07-13 12:53] robertoostenveld commented on #2079
@schoffelen can you have a look at this?

[2022-07-13 12:59] schoffelen commented on #2079
for consistency, I would change the

case 'mtmconvol'

into

case {'mtmconvol' 'wavelet'}

[2022-07-13 13:01] robertoostenveld commented on #2057
@dustinf1989 can you please revisit this and let us know whether all issues that you are aware of have been resolved? If so, please close this issue.

[2022-07-14 12:00] vijayiyer05 commented on #1853
Interesting first results @AljenU.

One thing that jumps out at me is how 'zeropar' came out faster than 'parfor' in one of your `ft_networkanalysis` test cases.  I'm going to look into best practices for parallelization testing here, but that para smells to me of a "first-run" artifact that has more to do with just-in-time compilation of the [MATLAB execution engine](https://www.mathworks.com/pro

[2022-07-14 12:30] AljenU commented on #1853
I do want to rerun all the tests again at some point, to see if results are similar. Because it also depends on what else the computer is doing at the time. And timing differences can also come from other parts of the functions, not necessarily the analysis functions that we are interested in.

Through the preamble / postamble, fieldtrip already also timing information per analysis function displa

[2022-07-15 13:20] robertoostenveld commented on #2063
the unit of `spike.timestamp` is acquisition system specific and depends on the original data.

For Plexon timestamps are in samples at  40kHz, which is the the highest sampling rate of the system used for the spikes, whereas the LFP is sampled a lower rate. For Neuralynx it is microseconds (rounded off to the nearest integer), corresponding to approximately 31 timestamps per sample at 32kHz. In b

[2022-07-15 13:22] robertoostenveld commented on #2063
I have added this to the respective "getting started" pages.

[2022-07-15 13:37] robertoostenveld commented on #2063
Looking at the respective pages on the website, I also found this https://www.fieldtriptoolbox.org/getting_started/animal/#synchronizing-with-timestamps as being relevant. In your specific case, I can imagine part of the confusion stemming from you working with Neuralynx data yourself, but the tutorials being based on Plexon data.

[2022-07-23 01:59] arnodelorme opened #2080 "Naming conflicts"
After running ft_defaults, I have the following functions in Fieldtrip shadowing MATLAB functions.

This is a new problem. A version from last year of Fieldtrip just showed the "nearest.m" function being overloaded.

[code]

It seems to create problems with ICLabel (although I am not 100% sure this is the problem). In any case, this should likely be addressed (do not add the folder "external/signa

[2022-07-23 22:25] ldbolanos opened #2081 "Using ft_singleplotER with TRF data to average out the time dimension"
Hi,

I am processing EMG data and have a spectrogram where time is between [-2, 2] seconds, and frequency is between [20, 200] Hz.

I would like to obtain a power spectral density plot (i.e., power vs. frequency) out of this spectrogram by averaging within each frequency bin the values between [0, 0.5] seconds (thus, effectively removing the time dimension).

Reading the documentation of `ft_singl

[2022-07-25 07:22] robertoostenveld commented on #2081
Let me remove the "undocumented options" section in the code, as that is outdated. The option `cfg.xparam` is not used anywhere anymore, the parameter along the horizontal (x) axis is either time or frequency and is determined automatically by looking at the data.

[2022-07-25 07:34] robertoostenveld commented on #2081
to select and average data over a range you can use ft_selectdata. In your case I think that something like this should work

[code]

[2022-07-25 07:35] robertoostenveld commented on #2081
I have improved documentation, so that (hopefully) you don't have to rely on undocumented options. But reading the code to see what it does is always recommended.

[2022-07-25 07:35] #2081 closed

[2022-07-25 09:33] ldbolanos commented on #2081
I think that is exactly what I was looking for! Thank you.

[2022-07-28 21:22] mjcourte opened #2082 "Windows 11 or >=R2021b file reading errors"
Two errors I have encountered in my Win11 environment. Originally with R2021b, then with R2022a. Fieldtrips 20191213, 20220104, 20220727.

In my Ubuntu 20.04 LTS environment with R2021a, Fieldtrip 20191213, these files all load fine. Thats my old laptop with not enough RAM for the job.

1. Reading CTF MEG .ds files:
[code]
Returns:
[code]

2. Reading headshape:

[code]
Returns:
[code]

- Data path

[2022-07-28 21:45] mjcourte commented on #2082
Edit to add Win11/R2021a shows the same errors.

[2022-07-29 07:33] robertoostenveld commented on #2082
I don't have a Windows 11 machine to test on. Can you try `dbstop if error` on the command line and run it again? That allows you to look in more detail what the error is.

[2022-07-29 14:35] robertoostenveld commented on #2080
The signal, stats and images functions correspond to these https://www.fieldtriptoolbox.org/faq/requirements/#replacements-for-functions-from-mathworks-toolboxes and their control is documented here https://www.fieldtriptoolbox.org/faq/can_i_prevent_external_toolboxes_from_being_added_to_my_matlab_path/. Note that this has also been discussed in #899

The `nearest` has been part of FieldTrip for a

[2022-07-29 14:44] robertoostenveld commented on #2080
Note that we are assuming that people *do not make the error* described in https://www.fieldtriptoolbox.org/faq/should_i_add_fieldtrip_with_all_subdirectories_to_my_matlab_path. That is something we cannot fix.

@arnodelorme can you please check whether the problem persists?

[2022-08-03 16:46] Yidan-Zhu opened #2083 "Fieldtrip not running on the lab computer"
![fieldtrip issue](https://user-images.githubusercontent.com/47349193/182663566-3dc8a54e-f27a-4cba-a5c6-782971133e3e.jpg)

Hi developers!

Our Fieldtrip is not running properly on the lab computer. There isn't more than one Fieldtrip version in the path, like a previous issue question mentioned: https://github.com/fieldtrip/fieldtrip/issues/1344

It runs well on my personal computer. What could th

[2022-08-03 19:41] schoffelen commented on #2083
Hi Eden,

Difficult to comment on this. It sounds as if there is a difference in the overall matlab setup (perhaps a version difference, of different toolboxes installed, or different external code on the matlab path) between your lab computer and your PC. Since the screenshot mentions that an infinite recursion happens when the isrow function is called, I'd first check which version of isrow you

[2022-08-08 09:52] Remi-Gau opened #2084 "default readme in BIDS dataset after conversion"
hey

We (BIDS maintainers) are trying to see if we can improve the quality of the average README in BIDS dataset. Those tend to be pretty thin and are missing some information we would like to see there even if it cannot be formalized "yet" into the BIDS specification.

Hoping to leverage the bids converters to help to do.

So I am going around the different BIDS converters repo to see if we can s

[2022-08-08 13:33] ruiliu-psy opened #2085 "compatibility between resample() of #2028 and ft_specest_irasa"
**Describe the bug**
Follow the discussion with [Yevgenia Rozenblum](yevgenia.rozenblum@donders.ru.nl) on [Mattermost](https://mattermost.socsci.ru.nl/dccn/pl/kdm38czrsffa8fzj5q7zuqb7po), I post this issue for a reference.

**To Reproduce**
Yevgenia reported an unexpected results of ft_specest_irasa. With[ the simulation example](https://github.com/fieldtrip/fieldtrip/blob/master/test/test_issue15

[2022-08-08 15:51] schoffelen commented on #2085
Thanks for reporting this. I can confirm that there appears to be scaling issue with the drop-in replacement of the resample function. This scaling appears to be dependent on the exact values for p and q

For now, to get expected behavior, you would need to use the matlab version of the resample function. This can be ensured by:

global ft_default;
[ftver, ftpath] = ft_version;
restoredefaultpath;

[2022-08-08 15:52] schoffelen commented on #2085
Note to self: the issue can be also shown when running the code from https://www.fieldtriptoolbox.org/faq/resampling_lowpassfilter/ with an FT setup that has ft_default.toolbox.signal = 'compat';

[2022-08-08 16:01] ruiliu-psy commented on #2085
Thanks for your quick response!

[2022-08-08 16:11] michaelruvalcaba opened #2086 "Errors in functions from external/freesurfer are not gracefully caught, and lead to uninformative matlab errors"
Hello everyone,

I am not that well verse in programming, but I am hoping someone can help me with this problem. I am trying to run recon-all on a specific subject and it runs without error. However, when I try loading the freesurfer pre-op MR I get the following error:

[code]

When looking at the line 401 in ft_read_mri this is what the code reads:

[code]

I am running freesurfer_x86_64-5.3.0 a

[2022-08-08 16:21] vijayiyer05 commented on #2086
I suggest to [add a breakpoint](s.html) at the offending line.
Once the breakpoint is hit, I would execute the command `class(tmp)` to see what type it is.
Dot indexing is typically for structure variables. It seems like `tmp` is not ending up as a struct variable as expected by the code.

[2022-08-08 16:31] schoffelen commented on #2086
In addition to Vijay's suggestion it would be helpful if you provide us with the full error stack (i.e. all the red stuff that matlab prints), and some more information about the fieldtrip version you have been using. Line 401 in ft_read_mri in my FieldTrip does not relate to the code that you pasted. Therefore, it is difficult to judge. Also, are you running on windows? Also, what is the exact in

[2022-08-08 16:51] michaelruvalcaba commented on #2086
Hi Vijay. Thank you for your suggestion. The offending line is line 401 correct (ndmis = numel)?

[2022-08-08 16:55] michaelruvalcaba commented on #2086
Hi Jan.

The entire error is:
[code]

The Freesurfer version I am using is 5.3.0-modified-perl

The specific command I am trying to run that is generating the error is:
[code]

Also, when I tried navigating to the T1.mgz file to open it, it says "T1.mgz: Lzma library error: Corrupted input data"

I'm not sure what that means. Thank you!!

[2022-08-08 17:21] michaelruvalcaba commented on #2086
Also, the scratch file that it is mentioning doesn't even exist :(

[2022-08-08 17:34] schoffelen commented on #2086
The lines that start with ERROR: are generated by freesurfer's MRIread function. These should probably be addressed first, before we can be sure whether it is a problem with fieldtrip.

You have still not provided us with information about the operating system, nor about the fieldtrip version. To avoid the possibility that you are using a stale version of fieldtrip, could you please try whether yo

[2022-08-08 17:36] michaelruvalcaba commented on #2086
Hi Vjay,

I added the breakpoint and ran 'fsmri_pre_acpc = ft_read_mri([subdir '3D_Images/freesurfer_pre-op/freesurfer/mri/T1.mgz']);' and the output I get is:
[code]
Then I typed class(tmp) in the command window and received 'double'

[2022-08-08 17:46] schoffelen commented on #2086
To reiterate: there is a problem with MRIread that does not manage to unzip the file on the fly. Again, my question is: what is the operating system you are working on? Also, if you open fieldtrip/external/freesurfer/load_mgh.m you will see that from line 55 onwards there is some code that attempts to unzip the *.mgz file, creating a temporary filename that includes the string load_mgh.m etc. This

[2022-08-08 17:59] michaelruvalcaba commented on #2086
Hi Jan,

I am using an nxserver on my mac and do you know how I can check my
fieldtrip version? All I have is a folder called fieldtrip, but I am not
sure where to navigate to find the version.

When running which(MRIread) this is what I get:

mri = MRIread(fstring,headeronly,permuteflag)
Error using which
Must be a string scalar or character vector.

Best,
Michael Ruvalcaba
Knight Lab
Helen Wills

[2022-08-08 18:00] schoffelen commented on #2086
I don't know what an 'nxserver' is. Also, you should type either which('MRIread') or which MRIread, not which(MRIread)

[2022-08-08 18:03] michaelruvalcaba commented on #2086
This is what I get:

[code]

Ah this may be the issue because I was running freesurfer 5.2.0 instead of
7.2.0?

Best,
Michael Ruvalcaba
Knight Lab
Helen Wills Neuroscience Institute
University of California, Berkeley

On Mon, Aug 8, 2022 at 11:01 AM Jan-Mathijs Schoffelen <
***@***.***> wrote:

[2022-08-08 18:22] schoffelen commented on #2086
I don't think so. The matlab code that the freesurfer people have written, is very old, and hardly ever updated.

I think that you have a permission problem, and cannot write to the assumed temporary folder called /scratch/

the matlab code that is shipped with freesurfer uses the function fsgettmppath to determine where to write the temporary file. You may need to tweak this function in order to

[2022-08-08 18:35] schoffelen commented on #2083
Is there any news on this? If not I suggest to close

[2022-08-08 18:51] #2085 closed

[2022-08-08 19:51] michaelruvalcaba commented on #2086
The thing is I do have permission to that folder and the file does not even
exist. Hm.

Best,
Michael Ruvalcaba
Knight Lab
Helen Wills Neuroscience Institute
University of California, Berkeley

On Mon, Aug 8, 2022 at 11:23 AM Jan-Mathijs Schoffelen <
***@***.***> wrote:

[2022-08-08 19:52] michaelruvalcaba commented on #2086
What's odd is that I have never had a problem with running recon-all on
past subjects but for some reason this is happening with this one.

Best,
Michael Ruvalcaba
Knight Lab
Helen Wills Neuroscience Institute
University of California, Berkeley

On Mon, Aug 8, 2022 at 11:23 AM Jan-Mathijs Schoffelen <
***@***.***> wrote:

[2022-08-09 05:37] schoffelen commented on #2086
It's not a matter of 'not being able to run recon-all', it seems to be a file access problem on your compute system. Not a FieldTrip problem per se, and not something that I can solve for you. Please check in with your local system administrator, or with your peers to get it fixed for you.

[2022-08-09 05:41] schoffelen commented on #2086
Note to self: we may want to consider to improve the FT codebase, in that we build in a check whether the freesurfer contributed reading functions return an output as expected. Right now, those functions typically produce textual output without actually throwing an error, if things go wrong.

[2022-08-09 05:43] schoffelen commented on #2086
candidate functions to consider are:
ft_read_mri
ft_read_atlas
ft_read_headshape

[2022-08-10 22:58] arnodelorme opened #2090 "Issue with ft_chantype"
https://drive.google.com/file/d/1DtuLMBD9kHpJPTso8Cm4mkf3C7-P3-t6/view?usp=sharing
Using the attached structure (output of ft_preprocessing)

[code]

is empty. Yes, the dat.elec structure clearly contains channels of type EEG.

[code]

[2022-08-11 05:43] schoffelen commented on #2090
Hi @arnodelorme if I download the data (containing the variable data_clean) and do: ft_chantype(data_clean) I get a list with 79 entries (as expected).

Can you elaborate what the issue exactly?

[2022-08-11 13:23] AljenU commented on #1853
On the specs of the computer I am running on:
- Intel Core i7-3770
- 32 Gb memory

On the "max workers to zero";
For example the loop in ft_timelockanalysis is specified with ```parfor (k = 1:nrpt, cfg.parformaxworkers)```. The zeropar runs mean that cfg.parformaxworkers == 0 in that case.

From the docs: "```parfor (loopVar = initVal:endVal, M); statements; end``` uses M to specify the maximum nu

[2022-08-11 13:36] AljenU commented on #1249
I had a problem with using parfor within fieldtrip functions, that was similar to what is described here. The cause in that case was that the parallell pool had been started before the first call to ft_defaults (which adds all of fieldtrip to the matlab path, and makes it so ver() knows it). Whereas the matlab path at the moment the parpool is started, is the one that the workers know, which in th

[2022-08-12 06:06] #2086 closed

[2022-08-12 06:06] #2083 closed

[2022-08-12 06:07] schoffelen commented on #2082
Hi Matt, did you already find time to further look into this?

[2022-08-12 06:07] schoffelen commented on #2076
Hi Elizabeth, what is the status with this? Is there anything that can be done on our end?

[2022-08-12 06:24] schoffelen commented on #2021
This is totally weird. I can confirm the problem. Yet, printor exists in utitlities/private/

However, somehow (also with me on my mac and matlab2021a) if I do 'which ft_checkdata', matlab returns fieldtrip/fileio/private/ft_checkdata.m. I can imagine a reason why ft_checkdata is shadowed in fileio/private, but I don't understand why this takes precedence on the path...

[2022-08-12 06:26] schoffelen commented on #2021
Add to last comment: the fileio/private/ft_checkdata is returned when in the debugger. Perhaps it has to do with the handling of the mat-file.

[2022-08-12 06:30] schoffelen commented on #2021
Gotcha, the error stack mentions that ft_checkdata (the one that cannot find printor) is called from ft_fetch_header, the latter is in fileio/private

[2022-08-12 06:35] #2021 closed

[2022-08-12 06:36] schoffelen commented on #1910
What's the status of this @johalgermissen, can it be closed?

[2022-08-12 06:36] schoffelen commented on #1910
Or does it still require action from you/some other people?

[2022-08-12 06:37] schoffelen commented on #1940
what is the status of this @YangCao-1 ? Does it still require action, or can it be closed?

[2022-08-12 09:40] johalgermissen commented on #1910
Hi @schoffelen I think it can be closed, I found my work-around---only thing worth considering might be changing the error message (so it's clear to other users why it doesn't work?).

[2022-08-12 15:28] YangCao-1 commented on #1940
closed, please.

Thank you!

Yang
________________________________
From: Jan-Mathijs Schoffelen ***@***.***>
Sent: Friday, August 12, 2022 8:37
To: fieldtrip/fieldtrip ***@***.***>
Cc: Yang Cao ***@***.***>; Mention ***@***.***>
Subject: Re: [fieldtrip/fieldtrip] 'original events' do not align with the time-shifted and appended data (Issue #1940)

what is the status of this @YangCao-1<https://gith

[2022-08-12 15:29] #1940 closed

[2022-08-12 17:53] howdobrain commented on #2076
Hi Jan-Mathijs, we solved it on our end. Thanks and best -

--
Elizabeth L Johnson, PhD
Assistant Professor
Departments of Medical Social Sciences and Pediatrics
Northwestern University Feinberg School of Medicine
dynamic-brain.org<https://dynamic-brain.org>
________________________________
From: Jan-Mathijs Schoffelen ***@***.***>
Sent: Friday, August 12, 2022 1:08 AM
To: fieldtrip/fieldtrip ***@

[2022-08-12 17:57] schoffelen commented on #2076
okido! Thanks for letting us know

[2022-08-12 17:57] #2076 closed

[2022-08-12 20:49] mjcourte commented on #2082
I think I have found the issue. Somewhere along the line, Matlab or Windows, has changed how string concatenation works in Matlab.

In ft_read_header, there is a call
`[filename, headerfile, datafile] = dataset2files(filename, headerformat)`

Outputs `headerfile` and `datafile` are erroneously 1x2 string arrays instead of strings.
They should be `path/to/dsname.ds/dsname.res4`, and `path/to/dsname

[2022-08-12 20:52] mjcourte commented on #2082
Specifically, in `dataset2files()`

[code]

[2022-08-12 21:58] Yidan-Zhu commented on #2083
We are trying to get a new computer, it might be some other problems.

Thanks for the debugging suggestions!

[2022-08-13 14:40] schoffelen commented on #2082
OK, thanks for looking into it. I think that the solution with the '+' is not robust for older matlab versions, and I don't know about append(). We may need to consider to change the square bracket syntax into strcat() operations to stay future proof (and maintain backward compatibility). Oh my...

BTW, your pasted solution with the fullfile() in dataset2files was your doing, right? Would it be po

[2022-08-13 14:41] schoffelen commented on #2082
BTW >=R2021b on Linux seems to run fine in my experience.

[2022-08-14 13:22] #1910 closed

[2022-08-15 06:08] schoffelen commented on #1357
Closing due to lack of activity. Feel free to reopen if the issue is prioritized and will be worked on

[2022-08-15 06:08] #1357 closed

[2022-08-15 07:12] schoffelen commented on #2082
Hi @mjcourte I think the below behavior reproduces the basis of this issue.

If I do (on matlab2021a):

s = ['a' 'b'], I get 'ab'

if I do:

s = ["a" "b"], I get a 1x2 string array.

Long story short, the FT syntax has not been updated to be robust against a mixed usage of chars and the newer 'string' class in matlab

[2022-08-15 08:24] schoffelen commented on #1835
This is not going to be addressed anytime soon. Closing for now: feel free to reopen and suggest a PR with the intended functionality

[2022-08-15 08:24] #1835 closed

[2022-08-15 12:26] schoffelen commented on #2057
OK, this is apparently something tricky.
I have identified a few things that might already fix it into the right direction.

First of all, there's a critical issue in the trialfun_stimon_sample that causes a (possibly matlab version specific) mismatch between values and samples, causing the 'trl' to be off, and thus causing the data.trial{1}(:,4005:4006) to fail.

Next, no latency selection seems

[2022-08-15 13:04] schoffelen commented on #2057
The spiketriggered spectrum computation is a bit of a black box to me. I am not going to touch that, and to be honest I am surprised that it works at all. The functionality bypasses the ft_specest_mtmconvol module. It does not seem to allow for padding, so that the requested frequencies are a non-trivial function of the length of the first trial in the data, it seems (by reading the code). It coul

[2022-08-15 13:07] schoffelen commented on #2057
I changed the winstepsize to 0.05 in the code on the website, which reduces the number of time bins.

[2022-08-15 13:55] schoffelen commented on #2056
I think that this is now fixed with the latest version of the FieldTrip code.

[2022-08-15 13:55] #2056 closed

[2022-08-15 17:24] arnodelorme commented on #2090
Just redownloaded the data and tried ft_chantype.

[code]

[2022-08-15 17:25] arnodelorme commented on #2090
This is Fieldtrip from August 8th (from Github).
MacOS and MATLAB 2021b.

[2022-08-15 18:03] schoffelen commented on #2090
what's the relation between what you call 'data_clean' in the previous comment, and the 'dat' variable that you provided earlier?

[2022-08-15 18:23] schoffelen commented on #2090
Sorry, this one got closed by accident, because it was linked to another PR (which was irrelevant to the current issue).

[2022-08-15 20:32] arnodelorme commented on #2090
"what's the relation between what you call 'data_clean' in the previous comment, and the 'dat' variable that you provided earlier?"

Yes, should have been data_clean not dat. I was just typing from memory. But I tried it again (see above).

[2022-08-16 06:30] schoffelen commented on #2080
Hi @arnodelorme, can this be closed on our end?

[2022-08-16 07:03] arnodelorme commented on #2080
Sure

[2022-08-16 07:48] schoffelen commented on #2080
merci!

[2022-08-16 07:48] #2080 closed

[2022-08-16 08:39] schoffelen commented on #2041
Not much seem to have been happening here, the referenced PR now also returns the other events' (fix, sacc, blink) (onset and duration) information.

The reading of the asc is extremely slow, due to the for-loop across lines, and the multiple sscanf and cat operations. For now I decided to keep it like this, because it would require another overhaul of the low-level reading function, which may mak

[2022-08-16 14:32] schoffelen commented on #2041
OK, I tried to revamp the eyelink ascii reader. It's still slow for large data files, but I think it is already quite much faster. It now relies a bit more on the file format description and avoids the sscanf operation per line wherever it can be avoided. I suggest to merge the PR, and rely on the current test code in test_pull694.
@johalgermissen would you mind trying out a bit the new functional

[2022-08-16 14:33] #2041 closed

[2022-08-16 15:03] LucaLaFisca commented on #1835
The proposition was just to implement what this fonction is supposed to do, namely an interpolation. But you are right, the increase of spectral resolution can be done by increasing the number of points used to perform the FFT. I agree with the fact that this function could be deprecated.

[2022-08-16 18:20] mjcourte commented on #2082
@schoffelen

This is from one of the old version of FT that I had lying around, 20190709. I tested this with 20220104, 20220727 as well and they had the same issues, however I did not debug or see the diff in dataset2files.

[2022-08-17 09:09] schoffelen commented on #1596
Hi @bloyl I am going over issues which have been silent for a while. Is ther anything that needs to be done here, or can it be closed?

[2022-08-17 10:41] schoffelen commented on #1674
Hi @arnodelorme could you please review the associated PR? According to the info on the EEGlab wiki (https://eeglab.org/tutorials/ConceptsGuide/coordinateSystem.html), I added an coordsys field to the electrode structure upon import. This coordsys is based on the interpretation of the nosedir. I think it already leads to much more robust correctly oriented layouts, without the need of the code cha

[2022-08-18 03:36] arnodelorme opened #2095 "ft_artifact_zvalue error"
Issue when trials boundaries are not integer
[code]

[2022-08-18 06:37] schoffelen commented on #2095
Hi @arnodelorme do you have a code and data example handy? Typically, I wouldn't expect the values in opt.trl to be non-integer to begin with...

[2022-08-18 06:51] arnodelorme commented on #2095
I do, but it will be complex to post. Simply take any data structure and make one of the data.sampleinfo fractional. I imported data, and this is the state it was in.

Note that this works with ft_preprocessing

[2022-08-18 06:57] schoffelen commented on #2095
OK, well I think that data.sampleinfo should never be fractional, so I don't know where those data came from?

Given that it works in ft_preprocessing, it sounds as if some checks and balances are performed there, but for some unknown reason these are not performed in ft_artifact_zvalue. Rather than putting a band-aid there, I think it would be good to investigate whether there are potential other

[2022-08-18 06:59] arnodelorme commented on #2095
OK, yes, I rounded the values and it woks fine now. Let me look at eeglab2fieldtrip

[2022-08-18 07:25] #1674 closed

[2022-08-18 07:42] schoffelen commented on #2095
Hi @arnodelorme can you - on second thought - point me to where you imported the data from?

[2022-08-18 11:57] schoffelen commented on #2090
Yes, confirmed. Could it be a case sensitive thing? Probably...

If I do

ft_chantype(data_clean), I get a list with a lot of 'EEG' channels.

If I do

ft_chantype(data_clean.elec), I get a lot of 'eeg'.

[2022-08-18 11:59] schoffelen commented on #2090
indeed, the data_clean.hdr.chantype has capitalized chantypes.

[2022-08-18 12:06] schoffelen commented on #2090
I think I can add a change to ft_chantype:

if isfield(input, 'chantype')
  % start with the provided channel types
  chantype = input.chantype(:);

into

  chantype = lower(input.chantype(:));

That would make it more robust in FT. Would that do for you @arnodelorme? (Still surprising to have a dataset with upper case chantypes though.

[2022-08-18 12:07] schoffelen commented on #2090
Based on the above, the following would work as expected on the current data (with the current code)

ft_chantype(rmfield(data_clean, 'hdr'), 'eeg')

[2022-08-18 12:17] schoffelen commented on #2082
I still think it's a string vs char issue.
dataset2files works with persistent variables, and returns the cached output of the previous function call (if the input to subsequent function calls is the same). Somehow matlab does not detect chars and strings to be sufficiently different when dealing with persistent variables.

If I cd into <fieldtrip>/fileio/private, and do

[a,b,c] = dataset2files("

[2022-08-18 12:19] schoffelen commented on #2082
Given that it is probably not straightforward to robustify this issue across the codebase, I would vote for an explicit check - and if needed - string2char conversion in ft_checkconfig. What does @robertoostenveld think?

[2022-08-18 16:46] arnodelorme commented on #2095
Sure. I think it is this file.

https://openneuro.org/crn/datasets/ds002680/snapshots/1.2.0/files/sub-002:ses-01:eeg:sub-002_ses-01_task-gonogo_run-1_eeg.set

Unless it is this one

https://openneuro.org/crn/datasets/ds002718/snapshots/1.0.5/files/sub-002:eeg:sub-002_task-FaceRecognition_eeg.set

[2022-08-18 21:20] arnodelorme opened #2096 "BIDS with NaN samples"
This dataset fails to import

https://openneuro.org/datasets/ds002680/versions/1.2.0

Because there are NaNs in the sample column (onset column is OK). It does pass the validator.

https://openneuro.org/datasets/ds002680/versions/1.2.0/file-display/sub-002:ses-01:eeg:sub-002_ses-01_task-gonogo_run-1_events.tsv

[2022-08-18 23:19] bloyl commented on #1596
I believe these changes have been made for a while now, without complaint.

I am fine with closing this ticket.

On Wed, Aug 17, 2022, 5:09 AM Jan-Mathijs Schoffelen <
***@***.***> wrote:

[2022-08-19 05:16] #1596 closed

[2022-08-19 05:22] schoffelen commented on #2082
Following up on my previous comment, I think that theoretically the best way to enforce a char (instead of string) is to adjust ft_getopt. Practically, this would require updating the c-code, and recompiling the mex-file for all OS's ...

[2022-08-19 14:39] AljenU commented on #1853
The timing-information creation scripts have been updated in https://github.com/AljenU/fieldtrip-parallel-support/tree/additional_tests, in the directory Timingscripts.

The results are for

- 'orig', the state of the fieldtrip master that my branches are based on
- 'parfor', with the for loop in the analysis changed to a parfor loop, and using as many workers as available
- 'zeropar', with the fo

[2022-08-22 08:24] schoffelen commented on #2095
OK, when I download the data provided in the links above, and 'import' the data using ft_preprocessing (cfg.dataset = '<somename>.set',

I get two data structures with a single trial and integer sampleinfo. Hence, something else needs to be done in order to reproduce I guess

[2022-08-22 16:45] arnodelorme commented on #2095
Oh yes, sorry. You need to extract trials.

[code]
[ft_trialfun_eeglabdemo.m.zip](https://github.com/fieldtrip/fieldtrip/files/9396119/ft_trialfun_eeglabdemo.m.zip)

[2022-08-22 16:47] arnodelorme commented on #2096
Aug 8th 2022 was my last pull

[2022-08-23 05:54] schoffelen commented on #2096
sorry @arnodelorme I was unclear. What snippet of code did you run, causing the 'failure to import' said data?

[2022-08-23 06:08] schoffelen commented on #2095
OK, thanks. The non-integer sample indices are not caused by FT, but they are inherent in the EEG data structure: the events are extracted from the EEG struct, because read_eeglabheader (in fieldtrip/fileio/private) stores the EEG struct in hdr.orig. Next, read_eeglabevent (in fieldtrip/fileio/private) copies over the event's latency (EEG speak) into the event's sample (FT speak), on line 76.

[2022-08-23 06:16] #2095 closed

[2022-08-23 06:25] arnodelorme commented on #2095
Correct but the ft_artifact_zvalue crash while the ft_preprocessing function returns:

[code]

For consistency, ether you crash in both cases or handle both cases.

[2022-08-23 06:26] arnodelorme commented on #2096
You place the dataset above in

[code]

And then call any Fieldtrip function.

[2022-08-23 06:44] robertoostenveld commented on #2095
Thanks both for working on this. For reference, I think that there are a few situations that can cause sample numbers (for `trl` and `sampleinfo`) to become non-integers. One is BIDS datasets with an `events.tsv` that lists the events in seconds (with potential rounding off errors). Another is similar: if events are stored in the original file as timestamps or time (in seconds) and not samples, th

[2022-08-26 11:49] schoffelen commented on #2065
see https://github.com/fieldtrip/website/pull/587
I have ran the relevant section of automation/update-configuration.sh by hand, because it seems that the webhook/cronjob hasn't executed for a while. It seems that the newly created page looks much better already (if I may say so). What remains to be done - I guess - is to find out why the daily update hasn't worked for a while.

[2022-08-26 14:52] robertoostenveld commented on #2065
I do not have the `update-configuration.sh` script in any of my cron-jobs it seems.

The webhook script that runs upon a github merge includes this

[code]

so that also does not call the `update-configuration.sh` script. I think it should actually be there, i.e. that the web hook causes the website to be updated.

[2022-08-26 14:54] robertoostenveld commented on #2065
just a sec, you are referring to `update-configuration.sh`, but I don't see that any more in https://github.com/fieldtrip/automation. Are you looking at a recent version?

[2022-08-26 14:55] robertoostenveld commented on #2065
this https://github.com/fieldtrip/automation/blob/824f13f3b896ee9a65d3408acd79146e9d8abed7/update-documentation.sh#L67 should do it, right? And that is called from the webhook...

[2022-08-26 14:56] schoffelen commented on #2065
my bad: I meant update-documentation.sh

[2022-08-26 14:58] robertoostenveld commented on #2065
So we are not yet closer to a diagnosis, and need to look further into that. But right now I prefer to look into family matters (and pack my bag for BIOMAG).

[2022-09-01 11:48] georgiosspyropoulos opened #2100 "Issue with loading raw data from Neuralynx"
Hello,

I am having issues with extracting individual channels (32 channels of voltage recordings and eyedata in the .bin format) from a raw Neuralynx datafile (.nrd). This issue is present for some sessions, which are interspersed by sessions that are loaded without trouble.
Specifically, I am getting the following error when using ft_spikesplitting:

**Error using read_neuralynx_dma (line 240)
p

[2022-09-12 13:13] Jinboasltw opened #2102 "Should I divide the blackrock data with 4?"
Hi,
When I read the code of the openNSx.m code provide by blackrock, I found they say (line 962 of openNSx.m)：
[code]
So, if i imported the data with fieldtrip, shoud i dividie the data with 4, before any analysis.

[2022-09-12 15:03] MrMercier opened #2103 "MMP Atlas"
Hi Fieldtrip Team,

I was looking for the so-called "Glasser" Atlas (DOI: 10.1038/nature18933, see description [webpage](https://balsa.wustl.edu/study/show/RVVG)) and thanks to the ft_mailinglist, I found that the file is:
- referred [there](https://www.fieldtriptoolbox.org/tutorial/networkanalysis/)
- downloadable [here](https://download.fieldtriptoolbox.org/tutorial/networkanalysis/).

The struc

[2022-09-12 17:14] schoffelen commented on #2102
In principle, the code in external/npmk is not under control of the FieldTrip team. I guess that you need to check with the blackrock folks directly about this.

By the way: the version of openNSx.m that is in this repository (in external/npmk) has less than 962 lines (I might be wrong here), so it is unclear what exact code you are referring to.

[2022-09-13 00:42] Jinboasltw commented on #2102
That's weird. I refer to the openNSx.m from their github resp. https://github.com/BlackrockNeurotech/NPMK/blob/master/NPMK/openNSx.m
Seem FieldTrip use an old version of openNSx.

Yes. I understand that the code in external/npmk is not under control of the FieldTrip team. The problem is that the importing of blackrock is handled by ft_preprocessing func as the tutorial said. However, it seem the f

[2022-09-13 06:45] schoffelen commented on #2102
If the blackrock folks have changed the code on their end, they may not have considered potential backward (in)compatibility issues that are related to software that depends on the code. It is unclear to me
a) whether the older version of the code as shipped with FieldTrip is now invalid, i.e. does using that code 'under-the-hood' in ft_preprocessing lead to wrong scaling of data?
b) whether using

[2022-09-13 06:49] schoffelen commented on #2100
Too bad about the files being (likely) corrupted. I am not sure how we could be of help at this point? I would start with using the debugger and inspect the matlab workspace just before the error is thrown. Also, I would look up the technical document that describes the file format in detail, in order to understand why the particular error that you report is thrown to begin with. The error is thro

[2022-09-13 06:51] schoffelen commented on #2057
I think that this one can be closed

[2022-09-13 06:51] #2057 closed

[2022-09-13 07:39] robertoostenveld commented on #2100
This `nrd` corruption is something I have encountered in the past with our own data as well, and I suspect that we might have some code that (as an example or faq on the website or so) can help with this. Similar as https://www.fieldtriptoolbox.org/faq/discontinuous_neuralynx/

I can take this onto me.

[2022-09-13 08:45] robertoostenveld commented on #2100
@georgiosspyropoulos can you try the code below? It will copy the file into multiple chunks, one for each correct piece.

[code]

[2022-09-13 10:18] schoffelen commented on #2103
Hi Manuel @MrMercier !

I must say that I am (in general) a bit reluctant to share (more visibly) atlases that are defined on the cortical surface. Most important reason for this is that it is not fully trivial to get the subject-specific sourcemodel that is in register with the specific atlas. If we would include the atlas that is used in the tutorial in the atlas folder, we also would need to ex

[2022-09-13 11:32] Jinboasltw commented on #2102
Thank you. I will try to liaise with the blackrock support.

[2022-09-13 12:47] georgiosspyropoulos commented on #2100
Dear Robert,

First of all, I greatly appreciate your help.

I ran the code you shared with me on the example session I provided via dropbox and got the following error:

**error at sample 25579161
Error using fseek
Offset must be a double.
Error in fix_neuralynx_nrd (line 113)
    fseek(fid, 'cof', -blocksize+junk*4);**

Does this make any sense to you?

All the best,

Giorgos

[2022-09-15 05:52] schoffelen commented on #2102
Here is some old e-mail correspondence I found:

Hi Robert,

If FieldTrip is just using the NPMK plugin as it’s method for parsing files then this isn’t an issue, since NPMK will be compatible with the updated file-spec. I’ll leave the page as is, the main concern was if the software did its own parsing of our file types.

Thanks,
Thomas

From: Robert Oostenveld <[r.oostenveld@donders.ru.nl](mailt

[2022-09-15 05:53] schoffelen commented on #2102
and:

Hi Jan-Mathijs,

Yes, it should be true for the latest version on github, which is 5.5.2.0 if I’m recalling correctly. The code should be almost completely backwards compatible (works with specs 2.3 and 3.0; 2.3 was released in 2011), and we recommend going ahead with the upgrade.

Thanks for your help!
- Thomas

From: Schoffelen, J.M. (Jan Mathijs) <[janmathijs.schoffelen@donders.ru.nl](mai

[2022-09-15 13:23] schoffelen commented on #2090
I think that this one can be closed, @arnodelorme agrees? (I have silently pushed a change to the repo to ensure lower-cased chantypes )

[2022-09-15 13:23] #2090 closed

[2022-09-15 14:02] robertoostenveld opened #2106 "redesign BIDS inheritance implementation"
We should check what the consequences of https://github.com/Lestropie/bids-specification/pull/5 or https://github.com/bids-standard/bids-specification/pull/1003 would be for FieldTrip.

[2022-09-15 14:12] juliankeil opened #2107 "dimord creation in ft_statistics_mvpa"
**Describe the bug**
In "ft_statistics_mvpa", in line 372, the "dimord" is created from the "result"-field of the MVPA-Light output. If one requests more than one performance metric (e.g., {'accuracy','tval'}), "result" contains 2 lines of cell-array outputs. As a consequence, the line dimord = strrep(result.perf_dimension_names, ' ', ''); fails.
To solve this, explicitly state the line of the cel

[2022-09-15 14:14] schoffelen commented on #2107
Hi @juliankeil thanks for the detailed report. We'll look into it. And good to see that people seem to find the (intended) supported functionality/gateway to mvpa-light useful...

[2022-09-15 14:17] schoffelen commented on #2107
matlab 2017b, does that still run :) ?

[2022-09-16 07:52] schoffelen commented on #2107
OK, confirmed. I'll make a fix in a PR, which will be in the master branch of the repo soon, and once the daily tests have passed it will also show up in the release branch

[2022-09-16 07:55] #2107 closed

[2022-09-16 08:50] schoffelen commented on #1801
I suggest to close this issue: there is nobody that will work on this in the foreseeable future. Also, the NaN-handling is already quite OK in FieldTrip -> preproc module, ft_componentanalysis, ft_timelockanalysis, ft_selectdata

[2022-09-16 08:50] #1801 closed

[2022-09-19 12:21] #2047 closed

[2022-09-20 06:00] #2020 closed

[2022-09-22 06:49] schoffelen commented on #2102
Hi @Jinboasltw what is the status of this? Any news from the blackrock folks?

[2022-09-22 06:52] schoffelen commented on #1598
Hi @Frederik-D-Weber what is the status of this? Will you be working on this at any time, or can the issue be closed due to 'lack-of-interest' of the main stakeholder :)?

[2022-09-23 09:13] richardkoehler opened #2110 "Fix units when reading NeuroOmega files"
**Description**
When reading in MatLab files from NeuroOmega amplifiers using for example:
`ft_read_data(file, 'header', hdr, 'dataformat', 'neuroomega_mat', 'headerformat', 'neuroomega_mat')`,
the data in units of `µV` is currently calculated by dividing the array of values of each channel, which are an array of integers:

![grafik](https://user-images.githubusercontent.com/70506259/191917151-7c5

[2022-09-24 19:36] duygu-sahin opened #2112 "lineattributes_common does not apply matrix RGB linecolor values to the figures"
**lineattributes_common does not apply a matrix RGB linecolor **
In the previous versions, multiplots' and singleplots' line colors could be adjusted with a simple matrix, not necessarily defined for each channel but defined only once.
One example for three lines would be :

cfg = [];
cfg.showlabels = 'yes';
**cfg.linecolor**  = [125 15 77
			 125 122 246
			 53 64 85]./255;
cfg.linewidth   = 0.6;

[2022-09-27 07:28] schoffelen commented on #2112
Thanks for reporting this. I can imagine something is going wrong with the logic in handling the different ways in which the linecolor can be specified in the caller function. It would be great if you could post your suggested changes in a Pull Request. This would give more visible credit to you for providing the fix. Are you game for giving it a shot?

This being said, the suggested changes paste

[2022-09-29 07:49] schoffelen commented on #2112
Since I didn't hear back from @duygu-sahin I went ahead and provide a fix in PR #2113

[2022-09-29 07:49] schoffelen commented on #2112
This will become available in the release version of FT soon.

[2022-09-29 07:49] #2112 closed

[2022-09-29 08:51] AljenU commented on #1853
**Improved and final timing information**

In the branch https://github.com/AljenU/fieldtrip-parallel-support/tree/additional_tests_plus_additional_timings, adaptations to the timing-information scripts have been made, to be able to focus the timing data on only the analysis functions that have been parfored. Also, timeit can now be used, which should give better timing info, especially when the c

[2022-09-29 11:29] AljenU commented on #1853
### What was changed

Parallel constructs were added in ft_timelockanalysis, ft_networkanalysis and ft_freqanalysis, as recorded in [this branch](https://github.com/fieldtrip/fieldtrip/tree/parallel). An earlier effort had identified ft_timelockanalysis, ft_networkanalysis and ft_freqanalysis as functions that might benefit from adding parallel constructs. Thus, to evaluate application of parallel

[2022-09-29 12:52] robertoostenveld commented on #1853
@AljenU thanks for the very clear report. I will add this to the documentation of the parallel branch.

[2022-10-04 09:37] robertoostenveld opened #2114 "data2bids does not replace "analog trigger" by "TRIG""
in https://github.com/natmegsweden/PD_data_share/issues/8 @mcvinding identified that "analog trigger" is not replaced by "TRIG", and idem for "digital trigger".

line 1416 now reads
[code]

and should be extended to deal with these cases

[2022-10-04 10:28] #2114 closed

[2022-10-04 13:10] schoffelen commented on #2102
Hi @Jinboasltw what is the status of this? Any news from the blackrock folks?

[2022-10-04 13:51] schoffelen commented on #2072
Hi @NirOfir sorry to be so slow on this. Indeed I agree with you on the expected outcome

If I change line 941 in ft_selectdata from:

if iscell(varargin{1}.time) && ischar(cfg.latency) && ~strcmp(cfg.latency, 'minperiod')

into

if iscell(varargin{1}.time) && ~isequal(cfg.latency, 'minperiod')

it seems that the function works as expected for your case. I am not sure about the potential side effe

[2022-10-04 14:15] schoffelen commented on #2016
Hi Cristina @crisglav ,

What is the status of this? Are you waiting for input from our end?

[2022-10-05 06:56] schoffelen commented on #2011
Just to add to this, as a placeholder to remember, in an interaction with Teresa Cheung, we observed that there is some confusion with respect to the use (and expected functionality) of cfg.chanunit/cfg.dipoleunit.

General question to @robertoostenveld: according to FT-philosophy - if stuff is defined in SI-units - the output units are SI and correct. This refers to units being m/V/T etc, without

[2022-10-05 07:15] schoffelen commented on #1972
@mcvinding, what would be the way forward here? Is there anything that needs to/can be done?

Thanks for sharing the code, but I still don't see what problem the addition of ..., 'detectflank', 'up') solved for you. What was it that was inconsistent in the output (w.r.t. expectations) when it was not used? Is there an example fif-file lying around that can be used to demonstrate this? If I read th

[2022-10-05 08:58] robertoostenveld commented on #2011
yes, dipole strength in SI units is Am, and volume conductivity is in S/m (and "volume resistivity" is one-over-volume-conductivity and is in Ωm). The doc is then incorrect.

Note that volume conductivity (-> larger value, more conductive) is often not specified by the user but taken from literature and in SI units. Hence when people mix their head models (in cm or mm) with literature conductiviti

[2022-10-05 09:00] robertoostenveld commented on #2011
[code]

[2022-10-05 19:30] mcvinding commented on #1972
I cannot remember the exact details of where I found the error. I re-read the file with the two trigger channels (STI101 and STI102). With the following code:
[code]
It correctly creates the cfg.trl structure. But with the following:

[code]

I get the message "Error using ft_definetrial no trials were defined, see FT_DEFINETRIAL for help".

[2022-10-06 05:56] schoffelen commented on #1972
@mcvinding in order to resolve this: Did you use the debugger to inspect the cause of the error? If not, can you send us a small file with 2 trigger channels, or let me know where I can obtain one?

[2022-10-06 08:12] schoffelen commented on #2072
Oh and @NirOfir please add a test function (according to the files in fieldtrip/test) that includes the above example code.

[2022-10-07 18:07] mcvinding commented on #1972
Strange. Perhaps it is specific to the dataset I have. I will send you an email with a link to the dataset.

[2022-10-10 07:47] schoffelen commented on #1972
OK, thanks for sending the data. I can confirm the issue on this particular dataset. Since it is a > 1GB file, I trimmed it to the first 25 seconds, and renamed it as issue1972.fif, I will upload it into the DCCN filesystem for reference and take it from there. The smaller file shows the same problem as the larger, original one.

For reference, I truncated the file as follows:

info = fiff_setup_r

[2022-10-10 09:18] schoffelen commented on #1972
OK, this particular dataset fails, because the STI101 channel has an offset of 14592, which makes the automatic determination of 'detectflank' in read_trigger to return 'down', and hence a failed trl-matrix generation.

ft_definetrial can be supplied with cfg.trialdef.detectflank = 'up', which resolves the issue.

Alternatively, I can make line 247 in read_trigger a bit more robust by replacing:

[2022-10-10 12:16] robertoostenveld commented on #1972
I don't understand the rationale of the following code

[code]

It seems to assume that if the first sample is 0, that all triggers are positive (hence detect=up) and otherwise that the first value must be larger than 0 and therefore detect the downing flanks. However, what if trigger channel contains negative values?

Since you refer to using the mode, would it be an idea to implement this as (he

[2022-10-10 12:16] robertoostenveld commented on #1972
or is there a guarantee that the trigger channel is always positive, e.g. because it is an uint32 or so?

[2022-10-10 16:29] schoffelen commented on #1972
No, it is not guaranteed. Basically the 'dat'  variable is the output of ft_read_data, and possibly ad-hocly post-processed by the various fix<something> options. I think that the above suggestions will do no harm, so I will implement it.

Alternatively, we could consider having a channel specific 'up'/'down' functionality, but I think that this is a bit of an overkill

[2022-10-11 06:52] #1972 closed

[2022-10-11 07:00] schoffelen commented on #2110
Hi @richardkoehler, thanks for reporting this, and suggesting this improvement. I don't know whether there are many people who use this particular data format in combination with FieldTrip, so I am not sure who could chime in here. We (i.e. the people at Donders) don't work with this particular data format, and we don't have any test data on the shelf to confirm/disconfirm your diagnosis. To take

[2022-10-11 10:40] schoffelen commented on #2102
Hi @Jinboasltw how would you propose to take this forward?

[2022-10-11 11:15] tiborauer opened #2117 "ft_trialfun_general cannot recognise trialvalues with "0""
A recent commit has updated how ft_trialfun_general recognises character trailvalues, and it excludes "0" from valid characters:
https://github.com/fieldtrip/fieldtrip/blob/616a14c5a516967f208f3ad18118e642393c4e79/trialfun/ft_trialfun_general.m#L195
I wonder whether the exclusion of "0" is intentional or the code should be like this:
[code]

[2022-10-11 12:16] schoffelen commented on #2117
My bad @tiborauer, feel free to submit a PR

[2022-10-11 13:09] #2117 closed

[2022-10-13 11:47] robertoostenveld commented on #1853
@vijayiyer05 and @AljenU I have documented it in the [PARALLEL.md](https://github.com/fieldtrip/fieldtrip/blob/parallel/PARALLEL.md) file that is on the specific branch.

[2022-10-13 11:47] #1853 closed

[2022-10-14 07:48] JonathanVHoecke opened #2120 "include sessions.tsv for data2bids"
For the data2bids functions,
there is currently no automatic sessions.tsv file created.

This modality agnostic file is optional, but a key component when having multiple sessions for a subject.
My suggestion would be to include it very similar as the scans.tsv, but it is one level up (listing the sessions, instead of the scans) as soon as there are multiple sessions.

https://bids-specification.r

[2022-10-14 08:54] #2120 closed

[2022-10-14 08:55] robertoostenveld commented on #2120
That is a good idea. For the optional `scans.tsv` it is clear what it can contain (a list of runs, i.e. recordings. I just added it to the data2bids code and used the following to test it:

[code]

could you give it a try and check that it works as expected?

[2022-10-14 08:55] robertoostenveld commented on #2120
... and if not, please reopen this issue.

[2022-10-15 19:37] JonathanVHoecke commented on #2120
Thanks, Robert, for your quick reply! I am going to a conference now, I'll test it end of this week 👍

[2022-10-17 10:49] SepidehKhoneiveh opened #2121 "ft_freqanalysis"
Hi
I am new in fieldtrip and I have some problems in running my scripts.
I want to calculate coherence in my eeg data. using this steps : http://old.fieldtriptoolbox.org/tutorial/coherence?s[]=ft&s[]=freqanalysis
the problem is that I am having problem in calculating frequency domain. I am using the following code:
the problem is that I am getting this error:
Error using nearest
the value 2053.6 s

[2022-10-17 11:00] schoffelen commented on #2121
Hi Sepideh, could you please ask your question in the appropriate channel, i.e. the online fieldtrip discussion list?
The github issue tracker is not meant for this type of questions.

Best,
Jan-Mathijs

[2022-10-17 11:00] #2121 closed

[2022-10-19 09:51] schoffelen commented on #2121
Hi @SepidehKhoneiveh do you need help in following this up on the discussion list? I was on the look out for your question to appear there, but so far I haven't seen it.

[2022-10-23 20:36] JonathanVHoecke commented on #2120
@robertoostenveld
Dear Robert, I can confirm that your adaptations worked in adding separate fields (custom columns) to the sessions.tsv.
I need to test to combine different sessions across multiple subjects, but I would get back to you if it does not work out.
(I expect behavior to be analogue to the scans.tsv)

![image](https://user-images.githubusercontent.com/72917013/197416973-73491bef-7cdf-4

[2022-10-24 21:18] JonathanVHoecke commented on #2120
@robertoostenveld
Dear Robert. I can confirm it works for multiple subjects with multiple sessions. Thanks again for your help!
![image](https://user-images.githubusercontent.com/72917013/197631371-9d958e3d-8737-4b2a-bb2d-09af8397382a.png)

[2022-10-27 10:14] xiaochenzheng opened #2124 "ft_rejectartifact does not allow overlaps"
**Describe the bug**
I have EEG segments which have overlapped samples. It used to work with an old fieldtrip version but not anymore (see error message attached.
For ft_databrowser i can add cfg.allowoverlap = 'yes', but this does not seem to work for ft_rejectartifact.

**Screenshots**
![image](https://user-images.githubusercontent.com/22767241/198258114-7671fd70-e937-4563-9bc0-9588a2dee0a1.png)

[2022-11-01 09:12] #2072 closed

[2022-11-01 09:19] schoffelen commented on #2124
issue can be confirmed with the below code

function test_issue2124

% MEM 2gb
% WALLTIME 00:10:00
% DEPENDENCY ft_rejectartifact

% reported issue is that ft_rejectartifact (with data in the input) fails
% on overlapping data segments, which used to work in the past

% create a minimal data example
data = [];
data.trial{1} = randn(1,100);
data.trial{2} = randn(1,100);
data.time{1}  = (0:99)./100;

[2022-11-05 12:34] schoffelen commented on #2102
Closing for now due to lack of interest of the main stakeholder. Feel free to reopen when appropriate

[2022-11-05 12:35] schoffelen commented on #2016
Hi Cristina @crisglav

What is the status of this? Are you waiting for input from our end? If not, I suggest to close this issue. We don't have the resources to address this at the moment. Feel free to reopen when appropriate

[2022-11-05 12:36] schoffelen commented on #2103
Hi Manuel, @MrMercier what shall we do with this issue? We don't have the resources at the moment to push this forward.

[2022-11-05 13:55] #2124 closed

[2022-11-07 08:14] #2110 closed

[2022-11-07 10:46] robertoostenveld opened #2127 "Cleanup the config object."
I don't think it works any more. Regardless, we don't use it ourselves and do not advertise it.

This relates to documentation on https://www.fieldtriptoolbox.org/development/project/checkconfig/ and https://www.fieldtriptoolbox.org/example/checkconfig/

In the code there might be statements like 'if ~isstruct(cfg)` to convert the config object to a struct (and back).

We should also check old iss

[2022-11-07 10:47] robertoostenveld commented on #2127
I tested the example that is listed on the website with

[code]

It does not report anything, which confirms that it is broken.

[2022-11-07 10:49] robertoostenveld commented on #2127
the `test_ft_math.m` function sets cfg.trackconfig to 'no', that can be removed.

the `test_example_checkconfig20220113.m` function refers to trackconfig, but does not do any strict checks.

[2022-11-08 06:26] schoffelen opened #2129 "ft_preproc_derivative does not take the length of the time step into account"
**Describe the bug**
Currently ft_preproc_derivative does not 'correct' for the length of the time step. This leads to the computed gradient being sampling frequency dependent.

**To Reproduce**
Steps to reproduce the behavior:
   x = sin((0:999).*2.*pi); dx = gradient(x); dx2 = gradient(x(1:2:end)): % gradient is used in ft_preproc_derivative
   figure;plot(dx);hold on;plot(dx2);
   figure;plot(0

[2022-11-08 07:37] robertoostenveld commented on #2129
hmm, good point. Besides using the `gradient` function, we also use `diff` somewhere in preprocessing, right?

I don't have a solution yet, but thinking this a bit further: should it not also affect the chanunit field, which for MEG would become `T/s` or `T/sample`?

[2022-11-08 07:39] schoffelen commented on #2129
I did a quick check on diff earlier, but could not locate it right away. It could be that at some point the occurrence of diff was replaced by a call to gradient

[2022-11-08 08:17] neurofractal opened #2130 "Updated support for FIL (UCL) OPM data format"
Building on #1395 I would like to contribute some code to load in data acquired from our OPM system at UCL. There have been a few cosmetic changes since 2020. Ultimately the user should be able to load in data through ```ft_preprocessing``` followed by noise reduction etc.

I am also happy to update the [tutorial script](https://www.fieldtriptoolbox.org/getting_started/opm_fil/) for the website.

[2022-11-08 08:23] robertoostenveld commented on #2130
that would be great! Could you start a pull request in draft mode, and first make only a test script that demonstrates with a small data file (not to be added to git but sent using dropbox or so) how the low-level ft_read_xxx functions are called, and that ft_preprocessing works?

The OPM time series will be simple, have you though about how `ft_read_sens` or so would work? Usually the sensor posi

[2022-11-08 12:01] robertoostenveld commented on #2129
there is `cfg.absdiff` for jump detection.

[2022-11-09 10:06] coxroy opened #2131 "data2bids error when method='decorate'"
using `data2bids` with `cfg.method='decorate'` produces different errors depending on how `cfg.dataset` is provided, when `cfg.outputfile` is not provided (as per recommendation). specifically:

- if `cfg.dataset` points to an EEG *.vhdr file including extension, an error occurs on line 760 `cfg.dataset and cfg.outputfile should be the same`. this is because the automatically generated `cfg.output

[2022-11-10 08:07] robertoostenveld commented on #2127
I removed the `@config` directory and started searching for `isa(..., 'config')`. This is something we use in the code when it is really required that a sub-field of cfg is a struct.

[2022-11-10 08:24] robertoostenveld commented on #2127
While reading the code at https://github.com/fieldtrip/fieldtrip/blob/2641028009c1029b4052426f91c357748c6b79fd/utilities/ft_checkconfig.m#L87, I realized that we already discussed the broken config object back in 2016. See ttp://bugzilla.fieldtriptoolbox.org/show_bug.cgi?id=3187

[2022-11-10 12:14] robertoostenveld commented on #2127
Oh, I realize that the documentation on the website still needs to be checked and updated.

[2022-11-14 14:19] franquia opened #2136 "ft_electroderealign project not projecting"
**Describe the bug**
While adapting an electrode array to a headmodel provided in https://www.fieldtriptoolbox.org/workshop/oslo2019/forward_modeling/ (headmodel_dipoli) the tool does not project the electrodes onto the headshape mesh. Instead they get projected onto a plane.

**To Reproduce**
Following the instrucions from the aforementioned forward modeling tutorial and after importing attached

[2022-11-14 15:24] robertoostenveld commented on #2136
I can confirm a weird projection with the `headmodel_dipoli.mat` from https://download.fieldtriptoolbox.org/workshop/oslo2019/forward_modeling/ and your `elec_manual.mat` file.

However, you write that both are in mm, which seems incorrect. The head model is in meter, and has numbers like this

[code]

 whereas your elec structure is specified to be in `mm`, but the numbers are like this

[code]

[2022-11-14 15:27] robertoostenveld commented on #2136
So in short: you assigned the wrong units to your elec structure. The numbers are consistent with the units being in meter, but you specified mm. The headmodel is actually in meter. When you plot them together - ignoring the units - it looks fine. But ft_electroderealign does not ignore the units and projects all electrodes (which are in the middle of the head) on a triangle that is probably somew

[2022-11-14 15:27] #2136 closed

[2022-11-18 11:55] robertoostenveld opened #2138 "improve support for HED tags when defining and selecting trials/epochs"
**Is your feature request related to a problem? Please describe.**

HED is one of the standards incorporated in BIDS. It allows the specification of evens with tags that convey much more information than trigger codes. When analyzing a BIDS-formatted dataset with HED tags, I would like house those tags in definetrial, preprocessing, and trial-selection in subsequent analysis steps.

**Describe the

[2022-11-18 12:02] robertoostenveld commented on #2138
Regarding documentation, https://www.fieldtriptoolbox.org/example/getting_started_with_reading_raw_eeg_or_meg_data/ is a very general "getting started" page

The page https://www.fieldtriptoolbox.org/example/making_your_own_trialfun_for_conditional_trial_definition/ explains so-called `trialfuns`, i.e. custom functions for a more fancy translation of events or triggers into a specification of tria

[2022-11-18 13:10] robertoostenveld commented on #2138
Using the example dataset, I have made some changes to the fieldtrip code in #2139. The important one is that [fileio/private/events_tsv.m](https://github.com/fieldtrip/fieldtrip/pull/2139/files#diff-d51e6fe2374b2b703896ef01607f40a80d80aff097747f175920058e77c8b7cd) now explicitly deals with the HED column. There were no changes needed in the higher-level code of `ft_read_event`, `ft_trialfun_gener

[2022-11-18 13:11] robertoostenveld commented on #2138
the following script now works, where the last section is using the HED tags

[code]

how does this look to you @VisLab, @dungscout96, @arnodelorme ?

[2022-11-18 13:25] robertoostenveld commented on #2138
if these code changes address phase 1 of the desired improvements, we should think about where to document this so that people also start using this. Should we make a HED section under https://www.fieldtriptoolbox.org/getting_started/#getting-started-with-data-from-other-software ?

Thinking further ahead, we could make further improvements in the automatic expansion of the `events.tsv` with the c

[2022-11-18 13:31] robertoostenveld commented on #2138
Could someone tag Denise, Deepa and Scott on this? I could not find their github handles.

[2022-11-18 17:37] arnodelorme commented on #2138
Here is one run from one subject along with the HED dictionary file

https://drive.google.com/drive/folders/16kqXIgs2HMVWCu-dIhe2Cb1T8YeBZ_Bn?usp=share_link

- Dung will take the event file and dictionary and return and updated event file or table with HED columns
- Robert can look into ft_definetrial (or maybe ft_read_event since this might be this function that reads the sidecar file - Robert wo

[2022-11-18 18:07] dungscout96 commented on #2138
Tagging @smakeig, @monique2208, @deepagupta

This is a great start! Thanks @robertoostenveld .

Couple questions:
1. The HED annotations do contain which letter was presented, e.g. "(Character,Label/D)" or "(Character,Label/+)". Can you check again in your file?
2. It seems that the `ft_read_header` function searchs for the json sidecar using BIDS inheritance principle. Here the sidecar is at the

[2022-11-18 18:30] VisLab commented on #2138
Yes, this is indeed a good start!

There are some details that we need to think about and I'll need to look at the documentation for Fieldtrip to make sure that I understand.

One of the issues is the location of the events. A simple search such as:
[code]

won't work in general because HED tags can appear in any order. Searching probably requires parsing and creating a set or
searching for the ta

[2022-11-18 18:36] VisLab commented on #2138
@dungscout96: I read over the source code for `hed_assemble` and it seems okay.  This function we should probably implement directly at some point in MATLAB.  We're going to have to decide which things to do as web services and which to do directly.

[2022-11-19 13:48] robertoostenveld commented on #2138
The HED tags do indeed contain letter information, I overlooked that. I have now updated the example/test script so that all three analyses give the same result (the average of A, B, and C trials). See [test_issue2138.m](https://github.com/fieldtrip/fieldtrip/blob/7ab4b04d637ebbe389376a4b82b0e272782c2b50/test/test_issue2138.m).

Rather than using `contains`, the test script now also demonstrates h

[2022-11-19 14:17] robertoostenveld commented on #2138
I have now also added a [ft_trialfun_hed](https://github.com/fieldtrip/fieldtrip/blob/7c85f9b2c237a93aadd5231df9c5f97e0a872b28/trialfun/ft_trialfun_hed.m) that does not use the event structure as returned by `ft_read_event`, but that reads the table and - when needed - assembles the HED tags on the fly.

@dungscout96 your `hed_assemble`  did not work for me due to `Undefined function 'getSessionIn

[2022-11-19 14:19] robertoostenveld commented on #2138
What I believe remains to be done is to write some documentation. I suggest that goes under "Getting started with HED", and that would be pull request against https://github.com/fieldtrip/website. Don't worry about formatting of the markdown for the website, I can fix that later.

[2022-11-19 15:09] VisLab commented on #2138
The `getSessionInfo` is part of a support library for HED web services for MATLAB:
     [https://github.com/VisLab/hed-examples/tree/main/hedcode/matlab_scripts/web_services](https://github.com/VisLab/hed-examples/tree/main/hedcode/matlab_scripts/web_services)

The tutorial [HED services in MATLAB](https://hed-examples.readthedocs.io/en/latest/HedMatlabTools.html) explains the usage with examples.

[2022-11-19 16:34] robertoostenveld commented on #2138
@dungscout96 thanks, it now works. I have added the `hed_assemble` and dependencies as `fieldtrip/external/hedtools`. I have also added the case where the HED tags are assembled on the fly to the example/test scripts.

[2022-11-19 16:40] VisLab commented on #2138
**Note the corrected link above for the matlab tools**.  I accidentally put a link to my forked repository not the actual official one. @robertoostenveld.  It is corrected above.

[2022-11-23 10:02] MrMercier commented on #2103
Hi Jan-Mathijs,

I finally gathered the following information (btw, even registered I was not allowed to access the link you shared, you must have some privilege ; ))

There is a shared [HCP-MMP1.0 projected on MNI2009a GM (volumetric) in NIfTI format](https://figshare.com/articles/dataset/HCP-MMP1_0_projected_on_MNI2009a_GM_volumetric_in_NIfTI_format/3501911) (maybe that's the one that ended in t

[2022-11-23 15:16] robertoostenveld opened #2143 "interactive plotting fails for figures embedded in a live script"
as identified by @AljenU

[2022-11-25 08:34] #2138 closed

[2022-11-26 10:05] robertoostenveld opened #2144 "regression error in data2bids"
@helenacockx on line https://github.com/fieldtrip/fieldtrip/blob/5a64a551703e0de84c8672b76da5c4970d55321c/data2bids.m#L2505
you changed something. The `~structfun(@any, s)` is failing. I don't understand what this aims to achieve. Do you want to remove fields that contain the boolean value `False`?

[2022-11-26 10:09] robertoostenveld commented on #2144
Note that there was also another regression error in the `hdr2table` subfunction . That was due to the extra columns for the NIRS wavelengths: those are not created for EEG or MEG data, hence part of the code failed. I have already fixed that on my branch (not yet merged).

if I remove the `~structfun(@any, s)`, it all seems to run through.

[2022-11-28 10:26] robertoostenveld commented on #2144
That is what I suspected. I will make a new issue for the ChannelCounts that are zero.

[2022-11-28 10:27] robertoostenveld commented on #2144
the regression error has been resolved with [61c22bb](https://github.com/fieldtrip/fieldtrip/commit/61c22bbfd041e18ffd3784a2ddd17a4118f81927)

[2022-11-28 10:27] #2144 closed

[2022-11-28 10:28] robertoostenveld opened #2145 "data2bids should not include XXXChannelCounts in the json if they are 0"
As discussed with @helenacockx and as surfaced in #2144